.flexCont {
    display: flex;
    align-items: center;
}
.imageCont img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.card {
    padding: 2rem 2rem;
}

.plain{
    border-radius: 10px;
    padding: 1.2rem 1.2rem;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 8px rgb(0 0 0 / 15%);
}

.caseFlex{
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    font-size: 0.8rem;
}


.weight{
    font-weight: 600;
}

.plus{
    border-radius: 30px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-right: 5px;
}

.plusFlex{
    display: flex;
    align-items: center;
}



.infoTitle{
    margin-bottom: 15px;
    padding-bottom: 5px;
    margin-left: 15px;
    width: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.upperFlex{
    display: flex;
    align-items: center;
}

.innerFlex{
    display: flex;
    flex: 1;
}

.skuFlex{
    display: flex;
    font-size: 0.8rem;
    flex: 1;
    margin-left: 15px;
}

.avbl{
    flex: 1;
}

.bottomFlex{
    display: flex;
}

.barFlex{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    /*width: 500px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.heading {
    font-size: .8rem;
    font-weight: 600;
    margin-right: 5px;
    text-transform: capitalize;
}

.desc {
    color: #4f4f4f;
    font-size: .8rem;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: justify;
}

.productInfo{
    margin-bottom: 7px;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firstCellFlex {
    display: flex;
    align-items: center;
}
.firstCellFlex img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.firstCellInfo {
    margin-left: 10px;
}

.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit{
    color: #29CB97 !important;
    border: 2px solid #29CB97 !important;
    padding: 10px 40px !important;
    border-radius: 30px !important;
    font-weight: 600 !important;
  }
  .editBtn1{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    gap: 20px;
  }
  .FilterBtnWrapper{
    display: flex;
    gap: 30px;
    align-items: center;
    /* justify-content: space-between; */
  }

  @media(max-width:1500px) {
    .FilterBtnWrapper{ 
        margin-top:15px;
         justify-content: space-between; 
      }
  }