.EmployeeDashboardFlex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.EmployeeDashboardWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.secondRow {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.announcementRowWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 2;
}
.EmployeecolumnWrapper {
  display: flex;
  flex: 1;
}
.RecentUpdateWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.RecentUpdateUpperCard {
  display: flex;
  gap: 25px;
}
.RecentUpdateLowerCard {
  display: flex;
  gap: 25px;
}
.SocialMediaOuterWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
