.backgroundColor {
  background-color: white !important;
  /*border-top-left-radius: 10px;*/
  /*border-top-right-radius: 10px;*/
  border-radius: 10px;
  box-shadow: 0px 20px 80px #00000011 !important;
}
.paperBackground {
  padding-top: 10px;
  /*box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);*/
  /*background-color: white;*/
}

.blueBackground {
  background-image: url("../../../assets/img/employee bg@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 120px;
  color: white;
}

.name {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.innerContainer {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
}

.profileInfo {
  margin-left: 15px;
  flex: 1;
}
.profileInfo > div {
  margin-bottom: 7px;
}

.vertical {
  border-left: 1px dashed #b8c5d3;
  height: 70px;
}

.rightInfo {
  flex: 1;
  margin-left: 70px;
}

.rightInfo > div {
  margin-bottom: 7px;
}

.location {
  width: 150px;
  display: inline-block;
}

.newLine {
  height: 4px;
  width: 30px;
  border-radius: 10px;
  /* margin-left: 1px; */
  background-image: linear-gradient(265deg, #7467f0, #2896e9) !important;
}

.profileContainer {
  display: flex;
}
.lhs {
  flex: 1;
  margin-right: 10px;
}
.rhs {
  flex: 1;
  margin-left: 10px;
}

.outerFlex {
  display: flex;
}

.backIcon {
  color: #919bb0 !important;
}
.statusWrap {
  text-align: right;
  position: relative;
  bottom: 10px;
}
/* .actionBtnSpan:hover{
  color: white;
  } */
.actionBtnSpan {
  font-style: normal;
  font-size: 0.8rem;
  letter-spacing: 0px;
  color: #2896e9;
  text-transform: uppercase;
  opacity: 1;
  padding: 0%;
  font-weight: 570;
  margin-left: 7px;
  font-family: "Montserrat";
}
.actionWrap {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  top: 25px;
  flex-wrap: wrap;
  width: 100%;
  gap: 14px;
}
.btnWrap {
  /*width: 30%;*/
}
.btnUpper {
  gap: 10px;
}
.btnUpper > .MuiButton-root {
  min-width: 30px !important;
  background-color: red;
}
.activeEditWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-end;
  gap: 30px;
}
.editBtn2 {
  margin-left: 15px;
}
.edit {
  color: #e92828 !important;
  border: 2px solid #e92828 !important;
  padding: 10px 40px !important;
  border-radius: 30px !important;
  font-weight: 600 !important;
}
.approvedWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  border-radius: 10px;
  background: #ffffff;
}
.editSuccess {
  color: #29cb97 !important;
  border: 2px solid #29cb97 !important;
  padding: 10px 40px !important;
  border-radius: 30px !important;
  font-weight: 600 !important;
}
.editSuccessBg{
  color: #ffffff !important;
  padding: 10px 40px !important;
  border-radius: 30px !important;
  font-weight: 600 !important;
  background: #29CB97 0% 0% no-repeat padding-box;
border: 2px solid #29CB97;
}
.pdfBtnShared {
  background: #ffffff;
  width: 100%;
  height: 8%;
  position: absolute;
  bottom: 0px;
}
.createBtn {
  background-color: #29cb97 !important;
  color: #ffffff !important;
  padding: 12px 35px !important;
  font-size: 0.8rem !important;
  border-radius: 30px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
}
.btnApproveWrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 15px;
}

.newLine {
  height: 5px;
  width: 30px;
  border-radius: 10px;
  /* text-align: center; */
  /* margin: auto; */
  background-image: linear-gradient(265deg, #7467f0, #2896e9) !important;
}
.InterviewPopUpWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 366px; */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 80px #00000011;
  border-radius: 10px;
  padding: 25px 25px;
}
.headingText{
  font-weight: 600;
  font-size: 1.2rem;
}
.closeWrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.descriptionStrong{
  margin-top: 20px;
  margin-bottom: 30px;
}
.titlewrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc{
  font-size: .75rem;
  text-align: center;
}
.desc1{
  font-size: .7rem;
  text-align: center;
}
.confirmedWrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 1520px) {
  .actionBtnSpan {
    display: none;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .profileContainer {
    flex-direction: column;
  }
  .lhs {
    margin-right: 0;
  }
  .rhs {
    margin-left: 0;
  }
  .mfdc {
    flex-direction: column;
  }
  .blueBackground {
    height: 100%;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }
  .blueBackground .innerContainer {
    flex-direction: column;
  }
  .profileInfo {
    margin: 0;
    padding-top: 10px;
    text-align: center;
  }
  .vertical {
    display: none;
  }
  .rightInfo {
    margin: 0;
    text-align: center;
  }
  .rightInfo > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rightInfo > div span {
    width: auto;
  }
  .btnWrap .statusWrap {
    text-align: center;
    bottom: 0;
  }
  .actionWrap {
    top: 12px;
  }
  .activeEditWrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
}
