.plain{
    border-radius: 10px;
    padding: 1.2rem 1.2rem;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 8px rgb(0 0 0 / 15%);
}

.heading{
    font-size: 0.7rem;

}

.desc{
    font-size: 0.8rem;
    padding-bottom: 10px;
    font-weight: 600;
}

.preferenceFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view{
    color: #0f49a0 !important;
    text-decoration: underline !important;
    font-size: 0.8rem !important;
    margin-left: 5px;
}
