  .myTable {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    color: #000;
    overflow-x: auto; 
    display: block;
    
  }
  
  .myTable th {
    border: 1px solid #B8C5D3;
    padding: 8px;
    text-align: center;
    
  }
 
  .myTable td {
    border: 1px solid #B8C5D3;
    padding: 8px;
    text-align: left;
    
  }
  
  @media  (min-width: 1068px) {
    .myTable {
      display: table;
      overflow-x: inherit;
    }
  }

  .noBorder {
    border: none;
  }

  .bgColor4Cols{
    background-color: #ECF7FF;
  }
  .bgColorRow{
    background-color: #ECF7FF;
  }
  .bgColorRow> td{
    font-weight: bold;
  }

  .totalCols{
    background-color: #2896E9;
    color: #FFFFFF;
  }
  .grayBgColor{
    background-color: #F7F7F7;
  }