.vectorImg{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img{
    padding-top: 100px;
}

.wip{
    color: #F7A728;
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.cs{
    font-size: 0.8rem;
}
