.firstCellFlex {
    display: flex;
    align-items: center;
}
.firstCellFlex img {
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.firstCellInfo {
    margin-left: 10px;
}

.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}