.AnnouncementInfoWrapper {
  box-shadow: 0px 20px 80px #00000011;
  border-radius: 10px;
  background: #ffffff;
  /* padding: 1.2rem; */
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 1;
}
.title {
  font-size: 0.875rem;
  font-weight: 600;
}
.announcementDes{
  /* width: 100%; */
  padding: 1.2rem;
  flex: 3;
}
.announcementDes > a{
  text-decoration: none;
  color: black;
}
.titleWrapper{
  margin-bottom: 20px;
}
.newLine {
  height: 4px;
  width: 30px;
  border-radius: 10px;
  margin-left: 1px;
  background-image: linear-gradient(265deg, #7467f0, #2896e9) !important;
}
.description {
  padding: .2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 15px; */
  /* max-width: 500px; */
  flex-wrap: nowrap;
}
.description > p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.description:hover{
  color: #ffffff;
  background-color: #2896e9;
}
.imageWrapper{
  flex: 1;
  /* width: 200px; */
}
.imageWrapper > img{
  /* width: 200px; */
  aspect-ratio: 1/1;
}
.description > p {
  font-size: 0.75rem;
  font-weight: 600;
}
.verticalLine{
  border: 1px solid #EBEDF4;
}

.sliderBlock {
  display: none !important;
}


@media (max-width: 769px) {
  .imageWrapper{
    display: none !important;
    justify-content: center !important;
  }
  
  .AnnouncementInfoWrapper {
    box-shadow: 0px 20px 80px #00000011;
    border-radius: 10px;
    background: #ffffff;
    padding: 1.2rem;
    flex-direction: row;
    flex-direction: column-reverse;
    position: relative;
  }
  .sliderBlock {
    display: block !important;
    height: fit-content !important;
    width:80vw !important;
  }
  .announcementDes{
    display: none !important;
  }
  .description {
    padding: .2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    color:black ;
    text-decoration: none !important;
  }
  a{
    text-decoration: none !important;
  }
  .imgWrapper{
    display: flex;
    justify-content: center !important;
  }
}
@media (max-width: 450px) {
  .AnnouncementInfoWrapper {
    box-shadow: 0px 20px 80px #00000011;
    border-radius: 10px;
    background: #ffffff;
    /* padding: 1.2rem; */
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-direction: column-reverse;
    flex: 1;
  }
   
}
