.salaryInfoWrapper {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 80px #00000011;
  border-radius: 10px;
  padding: 1.2rem;
}
.title {
  font-size: 0.8rem;
  font-weight: 600;
}
.newLine {
  height: 4px;
  width: 30px;
  border-radius: 10px;
  margin-left: 1px;
  background-image: linear-gradient(265deg, #7467f0, #2896e9) !important;
}
.salaryTableContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 1.2rem;
}
.tableWrapper {
  display: flex;
  padding: 1.2rem;
  border-bottom: 2px solid #ebedf4;
  opacity: 1;
  font-size: 0.8rem;
  font-weight: 600;
}
.tableComponentField {
  /* background: red; */
  flex: 4;
}

.tableAnnualField {
  /* background: yellow; */
  flex: 1;
}
.tableMonthlyField {
  /* background: green; */
  flex: 1;
}
.grossWrapper {
  background: #f5f7fb;
  border-radius: 10px;
  padding: 1.2rem;
}
.grossSalaryWrapper {
  display: flex;
  font-size: 0.875rem;
  align-items: center;
}
.grossSalaryGreenWrapper {
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  color: #29cb97;
  padding: 5px 0;
  align-items: center;
}
.salaryHeading {
  font-size: 1.125rem;
  color: #161616;
  font-weight: 500;
}
.grossSalaryRedWrapper {
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  color: red;
  padding: 5px 0;
}
/* .grossSalaryGreenWrapperBg {
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  color: #29cb97;
  padding: 5px 0;
  background: green;
} */
.grossWrapperBg {
  border-radius: 10px;
  padding: 1.2rem;
  background: #29cb97;
}
.grossWrapperBg > div {
  color: white;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
