.backgroundColor {
    background-color: white !important;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
    border-radius: 10px;
    box-shadow: 0px 20px 80px #00000011 !important;
  }
  .blueBackground {   
    background-color: #fff;
    box-shadow: 0 0 8px rgb(0 0 0 / 15%);
    border-radius: 10px;
    height: 140px;
    color: black;
  }
  
  .name {
    font-size: 0.9rem;
  }
  .candidateInfo{
    display: flex;
    padding: 20px 20px;
    padding-bottom: 0;
    margin-left: 15px;
    font-size: .8rem;
    font-weight: 600;
  }
  
  .innerContainer {
    padding: 0px 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
  }
  
  .profileInfo {
    margin-left: 15px;
    flex: 1;
  }
  .profileInfo > div {
    margin-bottom: 7px;
  }
  .profileInfo > a{
    color: black;
  }
  .vertical {
    border-left: 1px dashed #b8c5d3;
    height: 70px;
  }
  
  .rightInfo {
    flex: 1;
    margin-left: 70px;
  }
  
  .rightInfo > div {
    margin-bottom: 7px;
  }
  
  .location {
    width: 150px;
    display: inline-block;
  }
  
  .newLine {
    height: 4px;
    width: 30px;
    border-radius: 10px;
    margin-left: 1px;
    background-image: linear-gradient(265deg, #7467f0, #2896e9) !important;
  }
  
  .profileContainer {
    display: flex;
  }
  .lhs {
    flex: 1;
    margin-right: 10px;
  }
  .rhs {
    flex: 1;
    margin-left: 10px;
  }
  
  .outerFlex {
    display: flex;
  }
  
  .backIcon {
    color: #919bb0 !important;
  }
  .statusWrap {
    display: flex;
    justify-content: space-between;
    text-align: right;
    position: relative;
    bottom: 10px;
  }
 
  .btnUpper >.MuiButton-root{
    min-width: 30px !important;
    background-color: red;
  }
  @media (max-width: 1520px) {
    .actionBtnSpan{
      display: none;
      margin-left: 0;
    }
  }
  