.addition {
  color: #2896e9 !important;
  font-weight: 600 !important;
  font-size: 0.8rem !important;
  padding-top: 10px !important;
}
.formWrapper{
    display: flex;
    width: 100%;
}
.flexContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.firstRow {
  flex: 1;
  display: flex;
  align-items: center;
}
.flex1 {
  flex: 1;
  margin: 0px 5px;
}
.removeBtn {
  color: red !important;
  font-size: 0.7rem !important;
  margin-left: 20px !important;
}
.NomineeWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.headingText{
    font-weight: 600;
}
