.careerProgressionWrapper {
  background: #f7f7f7 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 80px #00000011;
  border-radius: 10px;
  padding: 1.2rem;

}
.title {
  font-size: 0.8rem;
  font-weight: 600;
}
.newLine {
  height: 4px;
  width: 30px;
  border-radius: 10px;
  margin-left: 1px;
  background-image: linear-gradient(265deg, #7467f0, #2896e9) !important;
}
.recordItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dateWrap{
  font-size: .8rem;
  font-weight: 600;
}
.Image {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.verticalLine {
  border: 1px solid #b8c5d3;
  margin: 20px 0 10px 0;
}
.careerWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.editWrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.btnClass {
  color: #2896e9;
  font-size: medium;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}
.iconWrap {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}
.careerHeading {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.InfoContainer {
  padding-top: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  /* justify-content: space-between; */
}
.InfoWrapper {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* padding-top: 1.2rem; */
}
.chartWrapper {
  flex: 3;
}
.CareerMonthlyCardWrapper {
  display: flex;
  margin-top: 25px;
  overflow-x: scroll;
  overflow-y: hidden;
  /* -webkit-overflow-scrolling: touch; */
}
.horizontalLine {
  border-left: 1px dashed #b8c5d3;
  /* margin-left: 15px; */
  margin-right: 22px;
}
.careerWrapperCPc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.imageWrapperCpc {
  /* background: blue; */
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.typeCont {
  margin-left: 10px;
  font-weight: 600;
}
.titleWrpapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.noCpcTitle {
  font-weight: 600;
}
.noCpcdec {
  font-size: 0.875rem;
}

/* Employee Records  */
.generate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.createBtn {
  background-color: #29cb97 !important;
  color: #ffffff !important;
  padding: 12px 35px !important;
  font-size: 0.8rem !important;
  border-radius: 30px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer .title {
  font-size: 0.8rem;
  font-weight: 600;
}
.employeeRecordWrapper {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 80px #00000011;
  border-radius: 10px;
  padding: 1.2rem;
}

.title {
  font-size: 0.8rem;
  font-weight: 600;
}

.createButton {
  font-size: 0.8rem;
  font-weight: 600;
}
.newLine {
  height: 4px;
  width: 30px;
  border-radius: 10px;
  margin-left: 1px;
  background-image: linear-gradient(265deg, #7467f0, #2896e9) !important;
}

.employeeRecordContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 1.2rem;
}

.tableWrapper {
  display: flex;
  padding: 1.2rem;
  border-bottom: 2px solid #ebedf4;
  opacity: 1;
  font-size: 0.8rem;
  font-weight: 600;
}

.tableAnnualField {
  /* background: yellow; */
  flex: 1;
}

.dateField {
  text-align: right;
}
.tableMonthlyField {
  /* background: green; */
  flex: 1;
}
.EmployeeListWrapper {
  display: flex;
  flex-direction: column !important;
  width: 100%;
  gap: 10px;
}
.tableWrapper {
  display: flex;
  padding: 1.2rem;
  border-bottom: 2px solid #ebedf4;
  opacity: 1;
  font-size: 0.8rem;
  font-weight: 600;
}

.tableComponentField {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.historyDes {
  font-size: 0.785rem;
  font-weight: 400;
}
.heading {
  font-weight: 600;
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media only screen and (max-width: 769px) {
}
