.backgroundColor {
  background-color: white !important;
  /*border-top-left-radius: 10px;*/
  /*border-top-right-radius: 10px;*/
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 20px 80px #00000011 !important;
}
.eventBirthdayWrapper{
  flex: 1;
  position: relative;
}
.paperBackground {
  padding: 10px 12px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white !important;
  height: 510px;
  /* height: 85vh; */
  overflow: auto;
  /* max-height: 510px;
  min-height: 510px; */
}
.paperBackground1 {
  padding: 10px 12px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white !important;
}
.birthdayEventWrapper {
  /* background-color: yellow; */
  background-color: white !important;

  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 2px solid #ebedf4;
}
.imageNameContainer {
  display: flex;
  gap: 15px;
}
.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* justify-content: space-between; */
  font-size: 0.875rem;
}
.profileName {
  font-size: 0.75rem;
  font-weight: 600;
}
.userImage {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.parentWrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.noEventWrapper {
  /* background-color: yellow; */
  background-color: white !important;
  height: 90%;
  display: flex;
  justify-content: center;
  padding: 10px 15px;
}
.noEvent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.noEvent >span{
  margin-top: 20px;
  font-size: .875rem;
  font-weight: 600;
}
.anni{
  font-size: 0.75rem;
  font-weight: 600;
  color: #2896e9;
}
.workLogo{
  border-radius: 5px;
  background-color: #2896E9 ;
  padding: 3px 8px;
}
.profilePosition{
  font-size: .7rem;
}
.profileAddress{
  font-size: .7rem;
}
.eventBgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 22%;
  background-image: url("../../../../../assets/img/ic_bunting_bg.png");
  background-repeat: no-repeat;
  background-position: top;
}
@media (max-width: 500px) {
  .noEvent > img {
      width: 250px;
  }
  .paperBackground{
    height: 300px;
  }
  .eventBgImage{
    height: 30%;
  }
 .paperBackground1{
  padding: 10px 5px;
 }
}
@media (max-width: 767px) {
  .birthdayEventWrapper{
    padding-left: 0;
  }
}

@media only screen and (max-width:1200px){
  .paperBackground {
    padding: 10px 12px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white !important;
    height: fit-content !important;
    /* height: 85vh; */
    overflow: auto;
    /* max-height: 510px;
    min-height: 510px; */
  }
}