.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerContainer .title {
    font-size: 16px;
}
.flex {
    display: flex;
    align-items: center;
}
.userImage {
    width:100px;
    height: 100px;
    border-radius: 50%;
}
.firstCellFlex {
    display: flex;
    align-items: center;
}
.firstCellFlex img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.firstCellInfo {
    margin-left: 10px;
}

.billFlex {
    display: flex;
    justify-content: space-around;
}

.billBorder {
    border: 1px solid black;
}

.mainContainer {
    position: relative;
    min-height: calc(100% - 60px) ;
    padding: 10px;
}
.processButtons {
    position: absolute;
    top: 0px;
    right: 0px;
}
.approveCont {
    display: inline-flex;
    flex-direction: column;
}
.assignToDriver{
font-size: 10px;
    text-align: right;
}
.infoContainer {
    position: relative;
    padding-top: 70px;
}
.infoWindow {
    display: flex;
    flex-wrap: wrap;
}
.detailsWindow {
    width: 100%;
    /*max-width: 500px;*/
}
.listWindow {
    flex: 1

}
.capitalize {
    text-transform: capitalize;
}
.timeStampTable {
    min-width: 200px;
    padding: 0px 10px;
    flex: 1;
    margin-bottom: 10px;
}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}
.badge {
    padding: 2px 5px;
    background: green;
    color: white;
    border-radius: 10px;
    display: inline-block;
    font-size: 12px;
}

.bottomSide {
    flex: 1;
}
.bottomSide label {
    margin-left: 10px;
}
.bottomCenter {
    display: flex;
    justify-content: center;
    flex: 2;
}
.buttonCont {
    margin-left: 10px;
    margin-right: 10px;
}
.productInfo {

}
.productName {
    font-weight: 500;
    width: 50px;
    display: inline-block;
}
.productQty {

}
.caseId{
    font-weight: 600;
}

.mobileFlex{
    display: flex;
    align-items: center;
}

.mob{
    font-size: 0.8rem;
    /*margin-left: 10px;*/
}

.error{
    min-width: 175px;
    display: inline!important;
    font-size: 12px;
    font-weight: 500;
    background-color: rgba(255,77,79,.06274509803921569);
    color: #ff4d4f;
    padding: 4.5px 11.85px;
    border-radius: 15px;
}


.filterButtons{
    margin-left: 7px;
}

.updateFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services {
    background: #f8f8f8;
    display: inline-block;
    font-size: .7rem;
    color: black;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 3px 10px;
    border-radius: 15px;
}

.noColor{
    background: #F7A728 !important;
    color: white !important;
    padding: 10px 35px !important;
    font-size: 0.8rem !important;
    border: 1px solid #80808021 !important;

}

.color {
    background: white !important;
    color: #4f4f4f !important;
    padding: 10px 35px !important;
    font-size: 0.8rem !important;
    border: 1px solid #80808021 !important;
}

.boarding{
    margin-left: 20px !important;
}

/**/

.upperFlex{
    display: flex;
    margin-top: 10px;
}

.left{
    flex: 0.5;
    margin-right: 10px;
}

.right {
    flex: 1;
    margin-left: 10px;
}

.plain{
    border-radius: 10px;
    padding: 1.2rem 1.2rem;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 8px rgb(0 0 0 / 15%);
}

.caseFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
}

.weight{
    font-weight: 600;
}

.updated{
    margin-top: 5px;
    font-size: 0.7rem;
    /*font-weight: 600;*/
}

