.outerFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.newLine{
    height: 4px;
    width: 30px;
    border-radius: 10px;
    margin-left: 20px;
    background-image: linear-gradient(265deg , #7467F0,#2896E9) !important;
}
.plainPaper{
    border-radius: 10px;
    padding: 1.2rem;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 20px 80px #00000011;
}
.newContainer{
    font-size: 0.7rem;
}
.Wrap{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 10px;
}
.requiredFooter{
    background:  #F5F7FB 0% 0% no-repeat padding-box;
    padding: 2px;
    border-radius: 10px;
    height: 61px;
    display: flex;
    flex-direction: start;
    align-items: center;
   

}
.topText {
    
    margin-left: 30px;
  }

  .alignOneColoumn{
    display: flex;
    flex-direction: column !important;
    height: 150px;
    justify-content: space-between;
  }
  .btnCont {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .createBtn {
    background-color: #29cb97 !important;
    color: #ffffff !important;
    padding: 12px 35px !important;
    font-size: 0.8rem !important;
    border-radius: 30px !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
  }
  .mainFlex{
    display: flex;
    /*align-items: center;*/
}
.left{
    /*margin-right: 30px;*/
    flex: 1.4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.editFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading{
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 600;
}

.block{
    display: block;
}
.unBlock{
    display: none;
}
.bgv_header{
    margin-top: 10px;
}
.gaps {
    padding: 10px;
  }
  .required_action{
    font-size: 18px;
    color: #161616;
  }
  .right_gaps{
    margin-right: 10px;
    font-size: 14px;
    color:  #818181;
  }
  .formGroup {
    flex: 1;
    padding: 7px 10px
  }
  .formGroup221{
      padding: 7px 10px;
      flex: 1;
    }
    .formFlex{
        display: flex;
    }
    .billingWrap{
        text-align: end;
    }

    #notMobile{
      display: block !important;
    }

    #Mobile{
      display: none !important;
    }
  @media (max-width: 769px) {
    .left {
        flex-direction: column;
      }
      .formGroup {
        flex: 1;
        flex-direction: column;
        padding: 7px 10px;
      }
      .InnerWrap {
        width: 100%;
      }
      .formFlec {
        flex-direction: column;
      }
      .formGroup221{
        padding: 7px 10px;
        flex: 1;
      }
      .formFlex{
        flex-direction: column;
    }
    #notMobile{
      display: none !important;
    }
    #Mobile{
      display: block !important;
      width: 100%;
    }
    .alignOneColoumn{
      display: flex;
      flex-direction: column !important;
      width: 100% !important;
      gap:10px;
      height:fit-content;
    }
  }