.imageGalleryWrapper {
  border-radius: 10px;
  padding: 1.2rem;
  padding-left: 0%;
  padding-bottom: 0%;
  display: flex;
  cursor: pointer;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.utsavGalleryImage {
  position: relative;
  height: auto;
  border-radius: 10px;
}
.imageTitle {
  background: black;
  height: 20%;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.utsavImages {
  border-radius: 10px;
  object-fit: cover;
  /* aspect-ratio: 16/9; */
  height: 250px;
  width: 250px;
  /* height: 50%;
  width: 50%; */
}
.imageTitle > span {
  color: #ffffff;
  font-weight: 600;
}
.wrapper {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}
