.backgroundColor {
    background-color: white !important;
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
    border-radius: 10px;
    box-shadow: 0px 20px 80px #00000011 !important;
  }