.summaryWrapper {
  padding: 1.2rem;
  border-radius: 10px;
  background: #f5f7fb 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 80px #00000011;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  font-size: 0.8rem;
  font-weight: 600;
}
.newLine {
  height: 4px;
  width: 30px;
  border-radius: 10px;
  margin-left: 1px;
  background-image: linear-gradient(265deg, #7467f0, #2896e9) !important;
}
.eventDetailCardWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.eventDetailCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.2rem;
  border-radius: 10px;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 80px #00000011;
  font-size: 0.875rem;
}
.Row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rowtags {
  font-weight: 600;
}
.rowtagsLower {
  font-size: 0.75rem;
}
.rowtagsLower1 {
  font-size: 0.75rem;
  font-weight: 500;
}
.rowtags2 {
  font-weight: 600;
}
.mobileRenderData{
  display: none !important;
}

.rowtags3{
  font-weight: 200;
  font-size: 12px !important;
}

@media only screen and (max-width:769px)  {
  .rowtags2 {
    font-weight: 600;
    display: none !important;
  }
  .rowtagsLower1 {
    display: none !important;
  }
  .mobileRenderData{
    display: block !important;
  }
  .mobileSub{
    display: flex;
    justify-content: space-between !important;
  }

}
