.attendaceContainer {
  margin: 12px 8px !important;
  margin-left: -5px !important;
}
.mainContainer{
    padding: 0 10px;
    width: 100% !important;
    
}
.lastPayslipContainer {
  background: #ecf7ff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  /* padding: 10px !important; */
  width: 100%;
 
  margin-top: 20px;
}
.lastPayslip {
  width: 68.8% !important;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  
}

.actionButton {
  margin-top: 10px;

}
.lastPayslipBodyFlex{
  max-width: 66.8% !important;
  display: flex;
  justify-content: space-between;
  padding: 7px 0 !important;
 
}

.lastPayslipBody {
  width: 66.8% !important;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
 
}
.lastPayslip {
  font-size: 12px;
  font-weight: 600;
}
.lastPayslip1 {
  font-size: 12px;
  font-weight: 600;
}
.createBtnPaylip{
  background-color: #29cb97 !important;
  color: #ffffff !important;
  padding: 7px 0 !important;
 width: 250px !important;
  border-radius: 23px !important;
  text-transform: uppercase !important;
  font: normal normal 600 1.125rem Montserrat !important;
}

.paySlipTable{
  border-collapse: collapse;
  width: 100%;
  margin-left: 8px;
  margin-top: 15px;
}
.titleDate{
  text-align: left;
  margin-left: 5px !important;
  font: normal normal 400 14px Montserrat !important;
  padding: 10px;
  
}
.titleDate1{
  text-align: left;
  color: #161616 !important;
  font: normal normal 600 14px Montserrat !important;
  margin-left: 5px !important;
  padding: 10px;

}

.paySlipBody{
  margin-top: 15px !important;
}