.claimsDetailWrapper {
  display: flex;
  flex-direction: column;
}
.outerFlex {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding-bottom: 30px;
}

.newLine {
  height: 4px;
  width: 30px;
  border-radius: 10px;
  margin-left: 20px;
  background-image: linear-gradient(265deg, #7467f0, #2896e9) !important;
}
.editBtnWrap {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
}
.teck {
  margin-left: 15px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #818181;
}
.plainPaper {
  border-radius: 10px;
  padding: 1.2rem;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 20px 80px #00000011;
}
.createBtn {
  background-color: #29cb97 !important;
  color: #ffffff !important;
  padding: 12px 35px !important;
  font-size: 0.8rem !important;
  border-radius: 30px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  white-space: nowrap !important;
}
.heading {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: 600;
}

.mainFlex {
  display: flex;
  font-size: 0.7rem;
  /*align-items: center;*/
}

.vertical {
  border-left: 1px dashed #b8c5d3;
  max-height: 100px;
  flex: 0.3;
}
.hyperlinkText {
  color: #2896e9;
  text-decoration-line: underline;
  cursor: pointer;
}
.heading {
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: 600;
}
.heading221 {
  font-size: 0.8rem;
  font-weight: 600;
}
.mainFlex {
  display: flex;
  /*align-items: center;*/
}

.vertical {
  border-left: 1px dashed #b8c5d3;
  max-height: 100px;
  flex: 0.3;
}
.verticalLine {
  border: 1px solid #b8c5d3;
  margin: 20px 0 10px 0;
}
.key {
  color: #818181;
  font-weight: 500;
  margin-bottom: 7px;
}
.key221 {
  margin-top: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
  /* color: #818181; */
  font-weight: 500;
  margin-bottom: 7px;
}
.value {
  font-weight: 600;
  width: 270px;
  color: black;
  display: inline-block;
}

.newContainer {
  font-size: 0.7rem;
}

.left {
  /*margin-right: 30px;*/
  flex: 1.4;
}

.right {
  /*margin-left: 60px;*/
  flex: 1;
}

.horizontal {
  border-bottom: 1px dashed #b8c5d3;
  margin-top: 15px;
  margin-bottom: 22px;
}

.posted {
  font-size: 0.7rem;
  margin-left: 10px;
}
.statusContainer {
  display: flex;
  justify-content: space-between;
}
.editBtn {
  display: flex;
  justify-content: flex-end;
}

.edit {
  color: #29cb97 !important;
  border: 2px solid #29cb97 !important;
  padding: 10px 40px !important;
  border-radius: 30px !important;
  font-weight: 600 !important;
}

.editFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusFlex {
  display: flex;
  justify-content: flex-end;
}

.btnCont {
  display: flex;
  justify-content: flex-end;
}
.createBtn {
  background-color: #29cb97 !important;
  color: #ffffff !important;
  padding: 12px 35px !important;
  font-size: 0.8rem !important;
  border-radius: 30px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
}

.detailFlex {
  display: flex;
}

.info {
  margin-left: 10px;
}
.formDetailWrapper {
  margin-top: 20px;
}
.prcReportWrap {
  margin-top: 10px;
  display: flex;
  border-top: 1px solid #b8c5d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list {
  color: #818181;
}
.coWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.coName {
  color: #818181;
  font-weight: 500;
  margin-bottom: 7px;
}
.btnWrapper {
  width: 20%;
  background-color: #ffffff;
}
.PdfBtnWrapper {
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 1.2rem 0;
}
.approvedWrapper {
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  padding: 1.2rem 0;
}
.edit {
  color: #e92828 !important;
  border: 2px solid #e92828 !important;
  padding: 10px 40px !important;
  border-radius: 30px !important;
  font-weight: 600 !important;
}
.commentContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: .7rem;
}
.commentDate{
  font-weight: 600;
}
.commentwrap{
  display: flex;
  flex-direction: column;
  gap: 5px;
}