.container{
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: column !important;
}

.plainPaper{
    border-radius: 10px;
    padding: 1.2rem;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 8px rgb(0 0 0 / 15%);
    margin-right: 10px;
    margin-left: 10px;
    width: 250px;
    text-decoration: none !important;
    /* height: 200px !important; */
}
.subContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap !important;
    justify-content: center !important;
}
.subPaper{
    display: flex;
    gap:10px;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}
.imgBox{
    background: #2896e9;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 25px;
}
.imageContainer{
    display: flex;
    justify-content: center !important;
    margin-bottom: 30px !important;
    margin-top: 10px !important;
    background-color: #EBF9FF !important;
}
.widthImageAdjust{
    width: 100% !important;
}

.linkRoutes{
    text-decoration: none !important;
    color: black !important;
}