.careerTileWrapper {
  padding: 1.2rem;
  border-radius: 10px;
  background: #f5f7fb 0% 0% no-repeat padding-box;
  /* max-width: 100%; */
}
.careerInfoTile {
  display: flex;
  justify-content: space-between;
}
.careerImgContainer {
  display: flex;
}
.careerImgContainer > span {
  font-size: 0.875rem;
}
.careerImgContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}
.careerPercent {
  display: flex;
  align-items: center;
}
.careerPercent > span{
    font-size: 1.875rem;
    font-weight: 600;
}