.backgroundColor {
  background-color: white !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* border-radius: 10px; */
  box-shadow: 0px 20px 80px #00000011 !important;
}
.paperBackground {
  /* width: 25%; */
}
.memberWrapper {
  /* width: 25%; */
}
.newMemberWrapper {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 20px 80px #00000011 !important;
  background: #ebf9ff;
  padding: 2rem 1.5rem;
  justify-content: space-around;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.imageNameContainer {
  display: flex;
  flex-direction: column;
}
.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 0.875rem;
}
.profileName {
  font-size: 0.875rem;
  font-weight: 600;
}
.newMemberCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageWrapper {
  display: flex;
  justify-content: center;
}
.customCLassForSlider{
  width: 200px;
}
.customSliderWrapper{
  width: 40vw;
  display: flex;
  /* flex: 1; */
}
@media (max-width: 1200px) {
  .customSliderWrapper{
    width: 60vw;
  }
}
@media (max-width: 767px) {
  .customSliderWrapper{
    width: 80vw;
  }
}