.upperFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-top: 15px;
  /* margin-left: 20px; */
}

.printFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

.btmBtn {
  background-color: #29cb97 !important;
  padding: 15px 50px !important;
  color: white !important;
  border-radius: 5px !important;
}
.tableCont {
  padding: 10px 10px;
  max-height: 200px;
  overflow: scroll;
}
.resetWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.resetPasswordWrapper {
  padding: 1.2rem;
}
.fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.checkBox > label {
  font-size: 0.75rem;
}
.checkBox {
    flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}
.newLine {
  height: 5px;
  width: 30px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  background-image: linear-gradient(265deg, #7467f0, #2896e9) !important;
}
.desCard {
  color: 161616;
  font-size: 0.875rem;
  margin-top: 0.8rem;
}
.checkBoxWrapper{
    display: flex;
    flex-wrap: wrap;
    /* padding: 1.2rem; */
}
.addSpaceCheckBox{
  margin-top: 1rem;
}

@media only screen and (max-width:769px){
  .checkBoxWrapper{
    display: flex;
    flex-direction: column !important;
}
}