.TotalSumWrapper {
  background: #f5f7fb 0% 0% no-repeat padding-box;
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
  border-radius: 10px;
}

.topWrapper {
  margin-left: 15px;
  font-size: 0.875rem;
  font-weight: 700;
}

.nameFonts {
  font-weight: normal;
}

.amountFonts {
  color: #29cb97;
  font-weight: bold;
}

.reductionFonts {
  color: #e92828;
  font-weight: bold;
}


@media only screen and (max-width:769px) {
  .TotalSumWrapper {
    background: #f5f7fb 0% 0% no-repeat padding-box;
    flex: 1;
    display: flex;
    flex-direction: column !important;
    padding: 15px 5px;
    border-radius: 10px;
  }
  .topWrapperTwo{
    margin-left: 15px;
    font-size: 0.875rem;
  }
}