.container {
    display: flex;
    flex-direction: column;
  }
 
  .newLine {
    height: 4px;
    width: 30px;
    border-radius: 10px;
    margin-left: 1px;
    background-image: linear-gradient(265deg, #7467f0, #2896e9) !important;
  }
  
  .downFlex{
    display: flex;
    flex-direction: column !important;
    gap:30px;
  }
  .cardData{
    background-color: #EBF9FF !important;
    border-radius: 10px;
    padding: 15px;
  }
  .cardDataTwo{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
  }

  .descriptionData{
    font-size: 14px;
  }
  .titleData{
    font-size: 14px;
    font-weight: 600 !important;
    margin-bottom: 10px;
  }

  @media only screen and (max-width:596px) {
    .descriptionData{
        font-size: 12px;
      }
      .titleData{
        font-size: 12px;
        font-weight: 600 !important;
        margin-bottom: 10px;
      }
  }
  
  

