.userInfoWrapper {
  box-shadow: 0px 20px 80px #00000011;
  border-radius: 10px;
  /*background: #ffffff;*/
  padding: 1.2rem;
  display: flex;
  flex-direction: row;
  flex: 1;
  background-size: cover;
  background-position: center;
}
.themeContainer {
  display: flex;
  flex-direction: column;
}
.themeInfoLower {
  max-width: 270px;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
}
.themeInfoUpper {
  margin-top: 0;
  font-weight: 600;
  font-size: 0.875rem;
  color: #ffffff;
}
@media (max-width: 767px) {
  .userInfoWrapper {
    padding-left: 0.8rem;
    padding-right: 0.4rem;
  }
}
