.employeeEngagementWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.chartWrapper {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 80px #00000011;
  border-radius: 10px;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}
.cardsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}
.engagementModuleImage {
  overflow: auto;
}
