.tableWrapper {
  display: flex;
  padding: 1.2rem;
  border-bottom: 2px solid #ebedf4;
  opacity: 1;
  font-size: 0.8rem;
  font-weight: 600;
}
.tableComponentField {
  /* background: red; */
  flex: 4;
}

.tableAnnualField {
  /* background: yellow; */
  flex: 1;
}
.tableMonthlyField {
  /* background: green; */
  margin-left: 10px;
  flex: 1;
}
.grossSalaryWrapper {
  display: flex;
  font-size: 0.875rem;
  padding: 5px 0;
  flex-wrap: wrap;
}
.salaryWrapper{
  display: flex;
  flex: 1;
  /* flex-wrap: wrap; */
  gap: 5px;
  /* justify-content: flex-start; */
}
@media (max-width: 769px) {
  .tableComponentField{
    flex: 1;
  }
  .salaryWrapper{
    flex: 1;
  }
  .grossSalaryWrapper{
    gap: 5px;
  }
  .tableWrapper {
    display: flex;
    padding: 1.2rem;
    border-bottom: 2px solid #ebedf4;
    opacity: 1;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .grossSalaryWrapper {
    display: flex;
    font-size: 0.8rem;
    padding: 5px 0;
    flex-wrap: wrap;
  }
  .tableComponentField{
    font-size: 0.8rem;
  }
  .salaryWrapper{
    font-size: 0.8rem;
  }
  .salaryHeading{
    font-size: 0.8rem;
  }
}


/* @media (max-width: 540px) {
  .tableComponentField{
    flex: 1;
  }
  .salaryWrapper{
    flex: 1;
  }
  .grossSalaryWrapper{
    gap: 5px;
  }
  .tableWrapper {
    display: flex;
    padding: 1.2rem;
    border-bottom: 2px solid #ebedf4;
    opacity: 1;
    font-size: 0.6rem;
    font-weight: 600;
  }
  .grossSalaryWrapper {
    display: flex;
    font-size: 0.6rem;
    padding: 5px 0;
    flex-wrap: wrap;
  }
  .tableComponentField{
    font-size: 0.6rem;
  }
  .salaryWrapper{
    font-size: 0.6rem;
  }
  .salaryHeading{
    font-size: 0.6rem;
  }
} */

